<div class="card-deck">
    <div class="card">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">Characters</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a [routerLink]="['/got/characters']" routerLinkActive="router-link-active"  class="btn btn-primary">Characters</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">Books</h5>
        <p class="card-text">This area uses route resolvers</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a [routerLink]="['/got/books']" routerLinkActive="router-link-active"  class="btn btn-primary">Books</a>
      </div>
    </div>
    <div class="card">
        <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
