<div class="row">
  <div class="col-md-12"><table class="table table-hover table-bordered table-sm">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">isbn</th>
        <th scope="col">authors</th>
        <th scope="col">numberOfPages</th>
        <th scope="col">mediaType</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of books">
        <th scope="row">
          <a class="btn btn-primary" role="button" [routerLink]="['/got/books', getId(item)]" routerLinkActive="router-link-active" queryParamsHandling="preserve"><i class="fa fa-user-circle" aria-hidden="true"></i></a></th>
        <td>{{ item.name }}</td>
        <td>{{ item.isbn }}</td>
        <td>{{ item.authors }}</td>
        <td>{{ item.numberOfPages }}</td>
        <td>{{ item.mediaType }}</td>
      </tr>
    </tbody>
  </table></div>
</div>
<div class="row">
  <div class="col-md-12">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" [routerLink]="['/got/books/']" [queryParams]="{page: 1 }" routerLinkActive="router-link-active">First</a></li>
        <li class="page-item"><a class="page-link" [routerLink]="['/got/books/']" [queryParams]=" {page: currentPage - 1 }"> {{ currentPage - 1 }} </a></li>
        <li class="page-item"><a class="page-link" [routerLink]="['/got/books/']" [queryParams]=" {page: currentPage }">{{ currentPage }}</a></li>
        <li class="page-item"><a class="page-link" [routerLink]="['/got/books/']" [queryParams]=" {page: currentPage + 1 }">{{ currentPage + 1 }}</a></li>
        <li class="page-item"><a class="page-link" [routerLink]="['/got/books/']" [queryParams]="{page: 20 }" routerLinkActive="router-link-active">Last</a></li>
      </ul>
    </nav>
  </div>
</div>




